<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ld.store.dao.DealgoodsinfoMapper">
    <sql id="Base_Column_List">
            dealGoodsInfoId,
            dealNo,
            sampleGoodsId,
            goodsName,
            goodsFirstQty,
            goodsFirstUnit,
            goodsModel,
            dealStatus,
            enabled,
            goodsPosition
    </sql>
    <resultMap id="BaseResultMap" type="com.ld.store.entity.Dealgoodsinfo">
    <!--@mbg.generated-->
    <result column="dealGoodsInfoId" jdbcType="VARCHAR" property="dealgoodsinfoid" />
    <result column="dealNo" jdbcType="VARCHAR" property="dealno" />
    <result column="sampleGoodsId" jdbcType="VARCHAR" property="samplegoodsid" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsname" />
    <result column="goodsFirstQty" jdbcType="FLOAT" property="goodsfirstqty" />
    <result column="goodsFirstUnit" jdbcType="VARCHAR" property="goodsfirstunit" />
    <result column="goodsModel" jdbcType="VARCHAR" property="goodsmodel" />
    <result column="dealStatus" jdbcType="TINYINT" property="dealstatus" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <result column="goodsPosition" jdbcType="VARCHAR" property="goodsposition" />
  </resultMap>
  <insert id="insert" parameterType="com.ld.store.entity.Dealgoodsinfo">
    <!--@mbg.generated-->
    insert into dealgoodsinfo (dealGoodsInfoId, dealNo, sampleGoodsId, 
      goodsName, goodsFirstQty, goodsFirstUnit, 
      goodsModel, dealStatus, enabled, 
      goodsPosition)
    values (#{dealgoodsinfoid,jdbcType=VARCHAR}, #{dealno,jdbcType=VARCHAR}, #{samplegoodsid,jdbcType=VARCHAR}, 
      #{goodsname,jdbcType=VARCHAR}, #{goodsfirstqty,jdbcType=FLOAT}, #{goodsfirstunit,jdbcType=VARCHAR}, 
      #{goodsmodel,jdbcType=VARCHAR}, #{dealstatus,jdbcType=TINYINT}, #{enabled,jdbcType=TINYINT}, 
      #{goodsposition,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ld.store.entity.Dealgoodsinfo">
    <!--@mbg.generated-->
    insert into dealgoodsinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dealgoodsinfoid != null">
        dealGoodsInfoId,
      </if>
      <if test="dealno != null">
        dealNo,
      </if>
      <if test="samplegoodsid != null">
        sampleGoodsId,
      </if>
      <if test="goodsname != null">
        goodsName,
      </if>
      <if test="goodsfirstqty != null">
        goodsFirstQty,
      </if>
      <if test="goodsfirstunit != null">
        goodsFirstUnit,
      </if>
      <if test="goodsmodel != null">
        goodsModel,
      </if>
      <if test="dealstatus != null">
        dealStatus,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="goodsposition != null">
        goodsPosition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dealgoodsinfoid != null">
        #{dealgoodsinfoid,jdbcType=VARCHAR},
      </if>
      <if test="dealno != null">
        #{dealno,jdbcType=VARCHAR},
      </if>
      <if test="samplegoodsid != null">
        #{samplegoodsid,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsfirstqty != null">
        #{goodsfirstqty,jdbcType=FLOAT},
      </if>
      <if test="goodsfirstunit != null">
        #{goodsfirstunit,jdbcType=VARCHAR},
      </if>
      <if test="goodsmodel != null">
        #{goodsmodel,jdbcType=VARCHAR},
      </if>
      <if test="dealstatus != null">
        #{dealstatus,jdbcType=TINYINT},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="goodsposition != null">
        #{goodsposition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into dealgoodsinfo
    (dealGoodsInfoId, dealNo, sampleGoodsId, goodsName, goodsFirstQty, goodsFirstUnit, 
      goodsModel, dealStatus, enabled, goodsPosition)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.dealgoodsinfoid,jdbcType=VARCHAR}, #{item.dealno,jdbcType=VARCHAR}, #{item.samplegoodsid,jdbcType=VARCHAR}, 
        #{item.goodsname,jdbcType=VARCHAR}, #{item.goodsfirstqty,jdbcType=FLOAT}, #{item.goodsfirstunit,jdbcType=VARCHAR}, 
        #{item.goodsmodel,jdbcType=VARCHAR}, #{item.dealstatus,jdbcType=TINYINT}, #{item.enabled,jdbcType=TINYINT}, 
        #{item.goodsposition,jdbcType=VARCHAR})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-12-13-->

    <!--auto generated by MybatisCodeHelper on 2019-12-13-->
    <select id="queryAllByDealgoodsinfoid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dealgoodsinfo
        where 1=1
        <if test="dealgoodsinfoid != null">
            and dealGoodsInfoId=#{dealgoodsinfoid,jdbcType=VARCHAR}
        </if>
    </select>

<!--auto generated by MybatisCodeHelper on 2019-12-13-->
    <select id="queryByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dealgoodsinfo
        where 1=1
        <if test="dealNo != null">
            and dealNo=#{dealNo,jdbcType=VARCHAR}
        </if>
        <if test="goodsName != null">
            and goodsName=#{goodsName,jdbcType=VARCHAR}
        </if>
        and enabled =0 limit #{startRow} ,#{pageSize}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-12-13-->
    <update id="updateByDealgoodsinfoid">
        update dealgoodsinfo
        <set>
            <if test="updated.dealgoodsinfoid != null">
                dealGoodsInfoId = #{updated.dealgoodsinfoid,jdbcType=VARCHAR},
            </if>
            <if test="updated.dealno != null">
                dealNo = #{updated.dealno,jdbcType=VARCHAR},
            </if>
            <if test="updated.samplegoodsid != null">
                sampleGoodsId = #{updated.samplegoodsid,jdbcType=VARCHAR},
            </if>
            <if test="updated.goodsname != null">
                goodsName = #{updated.goodsname,jdbcType=VARCHAR},
            </if>
            <if test="updated.goodsfirstqty != null">
                goodsFirstQty = #{updated.goodsfirstqty,jdbcType=FLOAT},
            </if>
            <if test="updated.goodsfirstunit != null">
                goodsFirstUnit = #{updated.goodsfirstunit,jdbcType=VARCHAR},
            </if>
            <if test="updated.goodsmodel != null">
                goodsModel = #{updated.goodsmodel,jdbcType=VARCHAR},
            </if>
            <if test="updated.dealstatus != null">
                dealStatus = #{updated.dealstatus,jdbcType=TINYINT},
            </if>
            <if test="updated.enabled != null">
                enabled = #{updated.enabled,jdbcType=TINYINT},
            </if>
            <if test="updated.goodsposition != null">
                goodsPosition = #{updated.goodsposition,jdbcType=VARCHAR},
            </if>
        </set>
        where 1=1
        <if test="dealgoodsinfoid != null">
            and dealGoodsInfoId=#{dealgoodsinfoid,jdbcType=VARCHAR}
        </if>
    </update>
</mapper>