<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ld.store.dao.DealinfoMapper">
    <sql id="Base_Column_List">
            dealInfoId,
            dealNo,
            dealPerson,
            dealTime,
            goodsDesc,
            enabled
    </sql>
    <resultMap id="BaseResultMap" type="com.ld.store.entity.Dealinfo">
    <!--@mbg.generated-->
    <result column="dealInfoId" jdbcType="VARCHAR" property="dealinfoid" />
    <result column="dealNo" jdbcType="VARCHAR" property="dealno" />
    <result column="dealPerson" jdbcType="VARCHAR" property="dealperson" />
    <result column="dealTime" jdbcType="BIGINT" property="dealtime" />
    <result column="goodsDesc" jdbcType="VARCHAR" property="goodsdesc" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
  </resultMap>
  <insert id="insert" parameterType="com.ld.store.entity.Dealinfo">
    <!--@mbg.generated-->
    insert into dealinfo (dealInfoId, dealNo, dealPerson, 
      dealTime, goodsDesc, enabled
      )
    values (#{dealinfoid,jdbcType=VARCHAR}, #{dealno,jdbcType=VARCHAR}, #{dealperson,jdbcType=VARCHAR}, 
      #{dealtime,jdbcType=BIGINT}, #{goodsdesc,jdbcType=VARCHAR}, #{enabled,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ld.store.entity.Dealinfo">
    <!--@mbg.generated-->
    insert into dealinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dealinfoid != null">
        dealInfoId,
      </if>
      <if test="dealno != null">
        dealNo,
      </if>
      <if test="dealperson != null">
        dealPerson,
      </if>
      <if test="dealtime != null">
        dealTime,
      </if>
      <if test="goodsdesc != null">
        goodsDesc,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dealinfoid != null">
        #{dealinfoid,jdbcType=VARCHAR},
      </if>
      <if test="dealno != null">
        #{dealno,jdbcType=VARCHAR},
      </if>
      <if test="dealperson != null">
        #{dealperson,jdbcType=VARCHAR},
      </if>
      <if test="dealtime != null">
        #{dealtime,jdbcType=BIGINT},
      </if>
      <if test="goodsdesc != null">
        #{goodsdesc,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into dealinfo
    (dealInfoId, dealNo, dealPerson, dealTime, goodsDesc, enabled)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.dealinfoid,jdbcType=VARCHAR}, #{item.dealno,jdbcType=VARCHAR}, #{item.dealperson,jdbcType=VARCHAR}, 
        #{item.dealtime,jdbcType=BIGINT}, #{item.goodsdesc,jdbcType=VARCHAR}, #{item.enabled,jdbcType=TINYINT}
        )
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-12-13-->
    <select id="queryAllByDealinfoid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dealinfo
        where 1=1
        <if test="dealinfoid != null">
            and dealInfoId=#{dealinfoid,jdbcType=VARCHAR}
        </if>
    </select>

<!--auto generated by MybatisCodeHelper on 2019-12-13-->
    <select id="queryByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dealinfo
        where 1=1
        <if test="dealNo != null">
            and dealNo=#{dealNo,jdbcType=VARCHAR}
        </if>
        <if test="dealPerson != null">
            and dealPerson=#{dealPerson,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null  and endTime != null">
            and dealTime &gt; #{startTime}  and dealTime &lt; #{endTime}
        </if>
            and enabled=0 limit  #{startRow} ,#{pageSize}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-12-13-->
    <update id="updateByDealinfoid">
        update dealinfo
        <set>
            <if test="updated.dealinfoid != null">
                dealInfoId = #{updated.dealinfoid,jdbcType=VARCHAR},
            </if>
            <if test="updated.dealno != null">
                dealNo = #{updated.dealno,jdbcType=VARCHAR},
            </if>
            <if test="updated.dealperson != null">
                dealPerson = #{updated.dealperson,jdbcType=VARCHAR},
            </if>
            <if test="updated.dealtime != null">
                dealTime = #{updated.dealtime,jdbcType=BIGINT},
            </if>
            <if test="updated.goodsdesc != null">
                goodsDesc = #{updated.goodsdesc,jdbcType=VARCHAR},
            </if>
            <if test="updated.enabled != null">
                enabled = #{updated.enabled,jdbcType=TINYINT},
            </if>
        </set>
        where 1=1
        <if test="dealinfoid != null">
            and dealInfoId=#{dealinfoid,jdbcType=VARCHAR}
        </if>
    </update>
</mapper>